@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #FAF6F5;
  font-family: "Poppins", sans-serif;
}

.cust-container {
  width: 85%;
  margin: 0 auto;
}

.cust-outer-container {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}